@import 'libs/vars2';
@import 'libs/functions2';
@import 'libs/mixins2';
@import 'libs/vendor2';
@import 'libs/breakpoints2';
@import 'fontawesome-all.min-gallery.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic');

// Breakpoints.

	@include breakpoints((
		xlarge:  ( 1281px,  1680px ),
		large:   ( 981px,   1280px ),
		medium:  ( 737px,   980px  ),
		small:   ( 481px,   736px  ),
		xsmall:  ( null,    480px  )
	));

// Spinner.

	@include keyframes(spinner) {
		0% {
			@include vendor('transform', 'rotate(0deg)');
		}

		100% {
			@include vendor('transform', 'rotate(359deg)');
		}
	}

// Base.

	@import 'base2/reset2';
	@import 'base2/page2';
	@import 'base2/typography2';

// Component.

	@import 'components/button2';
	@import 'components/form2';
	@import 'components/icon2';
	@import 'components/list2';
	@import 'components/actions2';
	@import 'components/icons2';
	@import 'components/table2';
	@import 'components/panel2';
	@import 'components/poptrox-popup2';

// Layout.

	@import 'layout/wrapper2';
	@import 'layout/header2';
	@import 'layout/main2';
	@import 'layout/footer2';